color {
    color: #ffffff;
    color: #29BEF1;
    color: #F36A9C;
    color: #FEDB62;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #29bef1;
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
}

.sun {
    width: 230px;
    height: 230px;
    background-color: #FEDB62;
    border-radius: 50%;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(45%, -35%);
    box-shadow: 0 4px 20px #fedc6240;
}

.bg-bot {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-size: 20px;
}

p {
    font-weight: 500;
    font-size: 13px;
    margin: 22px;
}

input {
    border: none;
    padding: 14px 23px;
    margin: 0 auto 10px;
    background-color: #ffffff4d;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    width: 213px;
    color: #ffffff;
}

input::placeholder {
    opacity: 1;
}

form * {
    display: block;

}

button {
    background-color: #F36A9C;
    border: none;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(243, 106, 156, 0.26);
    padding: 14px 55px;
    margin: 0 auto 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
}

@media (min-width: 481px) {
    .wave {
        width: 100vw;
    }
}